@using Domain.Entities
@model IEnumerable<Spare>

@{
    ViewBag.Title = "Запчасти";
}

@foreach(Spare spare in Model)
{
    <div>
        <h3>@spare.Name</h3>
        <p>@spare.Type</p>
        <p>@spare.CarBrand</p>
        <p>@spare.Description</p>
        <h4>@spare.Price.ToString("# грн")</h4>
    </div>
    <hr/>
}

